# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next/
out/

# Build / test
coverage

# Env
.env
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / OS
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
